

.work {
    width: 100%;
    height: 500px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    z-index: 3;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.name {
  font-size: 50px;
  font-weight: bolder;

  text-shadow: 3px 4px 3px rgba(0,0,0,0.61);
}

.flex_colomn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about {
    padding-top: 140px;
    padding-left: 100px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
    justify-items: center;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.7),
        rgba(47, 48, 58, 0.7)
      ), url(../images/pc.png);
      background-size:cover;
      background-repeat: no-repeat;

      position:static;
}

.text_wrapper {
    max-width: 450px;
    // margin-right: 200px;
    color: #f26a2f;
}

.robot {
    // margin-left: 100px
}

.line {
    width: 100%;
    height: 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    
    background: rgba(3, 13, 255, 0.2);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(3, 13, 255, 0.3);
}

.my_projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    @media screen and (min-width: 768px) {
      gap: 25px;
    }
  
    @media screen and (min-width: 1200px) {
      gap: 30px;
    }
  }

  .img_project_wrapper {
    background-color: #f26a2f;
    width: 95%;
    height: 247px;
    border-radius: 2px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  

    cursor: pointer;
    z-index: 10;
  }

  .img_project_wrapper::-webkit-scrollbar {
    width: 5px;
  }
  
  .img_project_wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  .img_project_wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }

  .relativ {
    position: relative;
    width: 470px;
    margin: 0;
    height: 100%;
    padding-top: 60px;
  }

  .monitor {
    position: absolute;
  }

  // .img_project_wrapper:hover{
  //   display: block;
  //   transform: scale(1.3);
  //   // position: absolute;
  //   z-index: 100;
  //   // top: 10px;
  //   // right: 120px;
  //   .robot_2 {
  //     display: none;
  //   }
  // }

  .desktop {
    display: block;
    width: 100%;
    border-radius: 2px;
  }

  .about_project {
    width: 430px;
    padding: 10px;
  }

  .tehnologi {
    display: flex;
    align-items: center;

    justify-content: space-around;
    width: 100%;
  }

  .tehno_img {
    display: block;
    width: 50px;
    height: 70px;
    margin: 0;
  }

  .dnk {
    position: fixed;
    top: 0;
    right: 50px;
    height: 100%;
    z-index: 2;
  }

  .mobil_wrapper {
    height: 80%;
    width: auto;
    background-image: url(../images/webstudio-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;

    z-index: 5;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .mobil_wrapper:hover, .mobil_wrapper-1:hover, .mobil_wrapper-2:hover {
    transform: scale(1.37);
    border-radius: 50px;
    z-index: 10;
    // position: absolute;
    // left: 40%;    
  }

  .mobil_wrapper-1 {
    z-index: 5;
    height: 80%;
    width: auto;
    background-image: url(../images/ice-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .mobil_wrapper-2 {
    height: 80%;
    width: auto;
    background-image: url(../images/filmoteka-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

    z-index: 5;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .mobil {
    width: 100%;
    height: 100%;
  }

  .flex-wrapper {
    width: 100%;
    display: flex;
  }

  .go_it {
    width: 200px;
    height: 50px;
  }

  .robot_2 {
    height: 150px;
    width: auto;
    z-index: 4;
    margin-right: -34px;
    margin-left: -60px;
    margin-top: 30px;
  }

  .robot_3 {
    margin-top: -20px;
    margin-bottom: -57px;
    margin-left: 30px;
    height: 150px;
    width: 480px;
    z-index: 4;
  }

  .robot_4 {
    z-index: 4;
    margin-right: -60px;
    margin-left: -34px;
    margin-top: 70px;
    height: 155px;
    width: auto;
  }

  .robot_6 {
    height: 250px;
    width: 170px;
    margin-right: -60px;
    margin-left: -85px;
    margin-top: 172px;
    margin-bottom: -92px;
    z-index: 4;
  }