<div class="contact_menu">
    <h3>Contacts</h3>
    <ul>
        <li class="list">
            <img src="./images/mail.png" alt="" width="30px" height="30px">
            <a class="link" href="mailto:it.meilmen85@gmail.com">it.meilmen85@gmail.com</a>
        </li>
        <li class="list">
            <img src="./images/link.png" alt="" width="30px" height="30px">
            <a class="link" href="https://www.linkedin.com/in/serhii-prokip-422782250" target="_blank">Lincedin</a>
        </li>
        <li class="list">
            <img src="./images/inst.png" alt="" width="30px" height="30px">
            <a class="link" href="https://www.instagram.com/zaharovith/" target="_blank">instagram</a>
        </li>
        <li class="list">
            <img src="./images/phone.png" alt="" width="30px" height="30px">
            <a class="link" href="tel:+380668854886">+38(066)885-4-886</a>
        </li>
    </ul>
    <div class="icons">
        <img src="./images/telegram.png" alt="" width="40px" height="60px">
        <img src="./images/whatsap.png" alt="" width="40px" height="60px">
        <img src="./images/viber.png" alt="" width="40px" height="60px">
    </div>
</div>