
  <!-- <div class="container"> -->
    <img class="dnk" src="./images/dnk.png" alt="">
    <!-- <h1>Portfolio</h1> -->
    <section>
      <div class="about">
        <img class="robot" src="./images/robot_1.png" alt="robot" width="350px">
        <div class="text_wrapper">
          <h2 class="name">About</h2>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quo odit blanditiis nisi qui unde exercitationem maiores deserunt architecto? Laboriosam earum maiores veritatis ipsam assumenda accusamus esse aspernatur deleniti repellendus!</p>
        </div>
      </div>
      <div class="line"></div>
    </section>
    
  <div class="container">
    <section class="my_projects">
      <div class="work">
        <div class="about_project">
          <h2 class="name_project">WebStudio</h2>
          <p class="text_project">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque animi alias sit laboriosam, quaerat deserunt quos suscipit ab. Magnam possimus consectetur minima et alias nulla quas molestias ut culpa?</p>
          <div class="tehnologi">
            <img class="tehno_img" src="./images/node.png" alt="">
            <img class="tehno_img" src="./images/html.png" alt="">
            <img class="tehno_img" src="./images/css.png" alt="">
            <img class="tehno_img" src="./images/js.png" alt="">
          </div>
          <a href="https://itserhii85.github.io/goit-markup-hw-08/" target="_blank">Visit website</a>
        </div>
        <div class="mobil_wrapper">
          <img class="mobil" src="./images/mobil.png" alt="">
        </div>
        <div class="img_project_wrapper">
          <img class="desktop" src="./images/webstudio.png" alt="">
        </div>
      </div>
     
      <div class="flex-wrapper">
        <img class="robot_2" src="./images/robot_2.png" alt="">
        <div class="work">
          <div class="img_project_wrapper">
            <img class="desktop" src="./images/ice.png" alt="">
          </div>
          <div class="mobil_wrapper-1">
            <img class="mobil" src="./images/mobil.png" alt="">
          </div>
          <div class="about_project">
            <h2 class="name_project">ICE CREAM</h2>
            <p class="text_project">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam laborum molestiae fugiat, atque ipsa, distinctio debitis ullam nobis exercitationem saepe similique neque porro itaque, maxime eaque! Pariatur fuga corrupti consectetur.</p>
            <div class="tehnologi">
              <img class="tehno_img" src="./images/node.png" alt="">
              <img class="tehno_img" src="./images/html.png" alt="">
              <img class="tehno_img" src="./images/css.png" alt="">
              <img class="tehno_img" src="./images/js.png" alt="">
            </div>
            <a href="https://itserhii85.github.io/goit-markup-hw-08/" target="_blank">Visit website</a>
          </div>
        </div>
      </div>

      <img class="robot_3" src="./images/robot_3.png" alt="">
      <div class="work">
        <div class="about_project">
          <h2 class="name_project">Filmoteka</h2>
          <p class="text_project">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis culpa qui officia laborum odit ab, itaque deleniti quia rem quod. Praesentium eum quos quidem aliquid quod. Quae suscipit quos veniam?</p>
          <div class="tehnologi">
            <img class="tehno_img" src="./images/node.png" alt="">
            <img class="tehno_img" src="./images/html.png" alt="">
            <img class="tehno_img" src="./images/css.png" alt="">
            <img class="tehno_img" src="./images/js.png" alt="">
          </div>
          <a href="https://itserhii85.github.io/goit-markup-hw-08/" target="_blank">Visit website</a>
        </div>
        <div class="mobil_wrapper-2">
          <img class="mobil" src="./images/mobil.png" alt="">
        </div>
        <div class="img_project_wrapper">
          <img class="desktop" src="./images/filmoteka.png" alt="">
        </div>
      </div>
     
      <div class="flex-wrapper">
        <div class="work">
          <div class="img_project_wrapper">
            <!-- <img src="" alt=""> -->
          </div>
          <div class="mobil_wrapper-2">
            <img class="mobil" src="./images/mobil.png" alt="">
          </div>
          <div class="about_project">
            <h2 class="name_project">WebStudio</h2>
            <p class="text_project">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis iste, optio nemo quod aut dolores delectus itaque ipsum? Rem, tenetur quas soluta temporibus laudantium laboriosam explicabo velit adipisci ipsum cumque.</p>
            <div class="tehnologi">
              <img class="tehno_img" src="./images/node.png" alt="">
              <img class="tehno_img" src="./images/html.png" alt="">
              <img class="tehno_img" src="./images/css.png" alt="">
              <img class="tehno_img" src="./images/js.png" alt="">
            </div>
            <a href="https://itserhii85.github.io/goit-markup-hw-08/" target="_blank">Visit website</a>
          </div>
        </div>
        <img class="robot_4" src="./images/robot_4.png" alt="">
      </div>

      <div class="work">
        <div class="about_project">
          <h2 class="name_project">WebStudio</h2>
          <p class="text_project">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et beatae omnis ipsam itaque autem voluptates molestias dolorem corporis officia! Non impedit dolorum temporibus, corporis ut quibusdam saepe labore! Veniam, natus!</p>
          <a href="https://itserhii85.github.io/goit-markup-hw-08/">Visit website</a>
        </div>
        <div class="img_project_wrapper">
          <!-- <img src="" alt=""> -->
        </div>
      </div>
     
      <div class="flex-wrapper">
        <div class="work">
          <div class="img_project_wrapper">
            <!-- <img src="" alt=""> -->
          </div>
          <div class="about_project">
            <h2 class="name_project">WebStudio</h2>
            <p class="text_project">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste error quod nemo voluptate repudiandae labore. Doloremque itaque porro accusamus numquam similique neque, hic a exercitationem rerum officia ipsa. Neque, saepe.</p>
            <a href="https://itserhii85.github.io/goit-markup-hw-08/" target="_blank">Visit website</a>
          </div>
        </div>
        <img class="robot_6" src="./images/robot_6.png" alt="">
      </div>
    </section>
    <section>
      <!-- <div class="flex-wrapper">
        
        <img class="go_it" src="./images/logo.png" alt="">
      </div> -->
    </section>
  </div>

